<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SAME</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>com.kh.board.controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.kh.common.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/EncodingFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>forgotidController</display-name>
    <servlet-name>forgotidController</servlet-name>
    <servlet-class>com.kh.member.controller.forgotidController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotidController</servlet-name>
    <url-pattern>/forgotidController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.kh.Search.controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListInsertController</display-name>
    <servlet-name>ListInsertController</servlet-name>
    <servlet-class>com.kh.board.controller.ListInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListInsertController</servlet-name>
    <url-pattern>/ListInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDetailController</display-name>
    <servlet-name>ListDetailController</servlet-name>
    <servlet-class>com.kh.board.controller.ListDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDetailController</servlet-name>
    <url-pattern>/ListDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentorController</display-name>
    <servlet-name>MentorController</servlet-name>
    <servlet-class>com.kh.manager.controller.MentorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorController</servlet-name>
    <url-pattern>/MentorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManteeController</display-name>
    <servlet-name>ManteeController</servlet-name>
    <servlet-class>com.kh.manager.controller.ManteeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManteeController</servlet-name>
    <url-pattern>/ManteeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MlistAController</display-name>
    <servlet-name>MlistAController</servlet-name>
    <servlet-class>com.kh.manager.controller.MlistAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MlistAController</servlet-name>
    <url-pattern>/MlistAController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MListAController</display-name>
    <servlet-name>MListAController</servlet-name>
    <servlet-class>com.kh.manager.controller.MListAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MListAController</servlet-name>
    <url-pattern>/MListAController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MListBController</display-name>
    <servlet-name>MListBController</servlet-name>
    <servlet-class>com.kh.manager.controller.MListBController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MListBController</servlet-name>
    <url-pattern>/MListBController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MListCController</display-name>
    <servlet-name>MListCController</servlet-name>
    <servlet-class>com.kh.manager.controller.MListCController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MListCController</servlet-name>
    <url-pattern>/MListCController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionListController</display-name>
    <servlet-name>TransactionListController</servlet-name>
    <servlet-class>com.kh.manager.controller.TransactionListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionListController</servlet-name>
    <url-pattern>/TransactionListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplainListController</display-name>
    <servlet-name>ComplainListController</servlet-name>
    <servlet-class>com.kh.manager.controller.ComplainListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplainListController</servlet-name>
    <url-pattern>/ComplainListController</url-pattern>
  </servlet-mapping>
</web-app>