<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="login">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = ?
		  AND MEMBER_PWD = ?
	</entry>
<entry key="forgotId">
	SELECT *
	FROM MEMBER
	WHERE MEMBER_NAME = ?
	  AND EMAIL = ?
	  AND MEMBER_NO LIKE ?
</entry>

<entry key="insert"> INSERT INTO MEMBER
    VALUES (
        CASE
            WHEN ? = 'B' THEN CONCAT('B', LPAD(SEQ_MENTOR_NO.NEXTVAL, 5, '0'))
            ELSE CONCAT('A', LPAD(SEQ_MENTEE_NO.NEXTVAL, 5, '0'))
        END,
        ?, -- member_id
        ?, -- MEMBER_PWD
        ?, -- MEMBER_NAME
        ?, -- MEMBER_PHONE
        ?, -- MEMBER_SSN
        ?, -- MEMBER_EMAIL
        DEFAULT, -- MEMBER_DATE
        DEFAULT, -- MEMBER_STATUS
        ?, -- MEMBER_ADDRESS
        ? -- MEMBER_TYPE
    )
    </entry>
<entry key="insertResume">
    INSERT INTO RESUME (RESUME_NO, MEMBER_NO) 
    SELECT SEQ_RESUME_NO.NEXTVAL, MEMBER_NO 
    FROM MEMBER 
    WHERE MEMBER_ID = ?
</entry>
</properties>